In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from math import *

In [3]:
df = pd.read_csv('gold_price.csv')
df

         date>gold_price
0    2011-01-01>1360.475
1    2011-02-01>1371.313
2    2011-03-01>1422.848
3    2011-04-01>1474.431
4    2011-05-01>1512.188
..                   ...
115   2020-08-01>1968.63
116   2020-09-01>1921.92
117   2020-10-01>1900.27
118    2020-11-01>1866.3
119   2020-12-01>1858.42

[120 rows x 1 columns]

# Podzielenie danych na dwa oddzielne okresy czasowe

### 2011-2015

In [4]:
df1 = df.loc[0:59]
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date>gold_price  60 non-null     object
dtypes: object(1)
memory usage: 608.0+ bytes

In [5]:
df1.head()

       date>gold_price
0  2011-01-01>1360.475
1  2011-02-01>1371.313
2  2011-03-01>1422.848
3  2011-04-01>1474.431
4  2011-05-01>1512.188

### 2016-2020

In [6]:
df2 = df.loc[60:120]
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 60 to 119
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date>gold_price  60 non-null     object
dtypes: object(1)
memory usage: 612.0+ bytes

In [7]:
df2.head()

        date>gold_price
60  2016-01-01>1095.655
61  2016-02-01>1194.893
62  2016-03-01>1246.312
63  2016-04-01>1241.452
64  2016-05-01>1259.755

In [8]:
%store df1 df2

Stored 'df1' (DataFrame)
Stored 'df2' (DataFrame)